header{

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.headerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.imgPoint{
    margin-right: 1rem;

}

.divTitle{
    display: flex;
    align-items: center;

}



.h1Header{

    font-weight: 700;
    font-size: 1.2rem;

}

.buttonLogout{

    padding: 0.4rem 2rem;
    background-color: var(--white);
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;

}

/* --------------------------------- */

.sectionUser{
    margin-top: 2rem ;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

.h2UserName{
    font-weight: 700;
    font-size: 1.875rem;

}
.divContainerUser{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    font-size: 1.375rem;
    font-weight: 400;

}
.userEmail{
}
.userStatus{
}
.userModality{
}
.imgEdit{
    cursor: pointer;
}
/* -------------------------------------------------------------- */

.sectionContainerDefault{
    margin-top: 2rem ;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 20rem;

    display: flex;
    justify-content: center;
    align-items: center;

}

.pDefault{

    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;

}

/* ------------------------------------------------------------ */

.sectionContainer{

    margin-top: 2rem ;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: scroll;

}

.divTitleContent{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    font-weight: 700;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--blue);
}

.h2CompanyName{

}

.h2Span{
    

}

.h2DepartmentName{

}

.spaceOfCards{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem;

}

.Card{
    border: 1px solid var(--blue-50);
    width: 29%;
    padding: 1rem;
   
}

.NameCard{
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5rem;

}

.statusCards{
    font-weight: 400;


}

/* ------------------------------------------------------------------ */

.modal::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{

    border: none;
    position: relative;
    width: 30%;
    padding: 2rem;

}

.exitModal{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    
}

.formModal{

    gap: 1rem;
    display: flex;
    flex-direction: column;

}

.titleModalEdit{
    font-weight: 700;
    font-size: 2.5rem;

}

input{
    padding: 1rem;

}

.buttonSubmit{
    padding: 1rem;
    cursor: pointer;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    font-weight: 700;
    font-size: 1.125rem;

}

.displayNone{
    display: none;

}
